hr {
    margin: 0 auto;
    margin-top: 10px; 
    width: 30%;
    border: 0px;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
h1 {
    color: #ffffff;
    letter-spacing: 1.4px;
    text-align: center;
    position: relative;
    margin-top: auto;
}
h1{
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5vw;
    font-family: "Source Sans Pro", sans-serif;
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@-webkit-keyframes glow {
    40% {
        text-shadow: 0 0 9px #fff;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 9px #fff;
    }
}

h3{
    letter-spacing: 8px;
    position: relative;
    /*   shorthand animation property: name | duration | iteration count */
    /*   animation: text 4s 1; */
    animation-name: text;
    animation-duration: 2s;
}

@keyframes text {
    0% {
        letter-spacing: 35px;
        margin-bottom: -30px;
    }

    30% {
        letter-spacing: 20px;
        margin-bottom: -30px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -30px;
    }

    100% {
        margin-bottom: 0px;
    }
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-family: 'Source Sans Pro';
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    border-radius: 4px;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, rgba(255, 255, 255, .5) 6%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, .5) 19%, rgba(255, 255, 255, 0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
}

button:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

button:focus {
    outline: none;
}