@media (max-width: 768px) {
    .ca{
       width: 100vw;
       margin: 0 !important;
       padding: 0 !important;
       font-size: 1em;
    }
        .cc {
            width: 100vw !important;
            margin: 0 !important;
            padding: 0 !important;
            font-size: 1em;
        }
    p{
        font-size: 1em;
    }
    .butt{
        margin-bottom: 5px;
    }
    h3{
        font-size: 4vw !important;
    }
    h1{
        font-size: 9vw !important;
    }
}